<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testdiplom">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_masterskie"
        android:label="Accountig of Workshops"
        android:roundIcon="@drawable/logo_masterskie"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestDiplom"
        tools:targetApi="31">
        <activity
            android:name=".NewEquipment"
            android:exported="false" />
        <activity
            android:name=".AddEquipment"
            android:exported="false" />
        <activity
            android:name=".AddEvent"
            android:exported="false" />
        <activity
            android:name=".AddStudent"
            android:exported="false" />
        <activity
            android:name=".ChecklistPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label=" "
            android:theme="@style/Theme.TestDiplom.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>